[Desktop Entry]
Type=Application
Name=Mosaic
GenericName=Android app support
Exec=mosaic
Comment=Run Android apps as native Linux processes.
Icon=mosaic
Categories=X-Mosaic-App;Utility;
X-Purism-FormFactor=Workstation;Mobile;
