[Desktop Entry]
Type=Application
Name=Install in Mosaic
NoDisplay=true
MimeType=application/vnd.android.package-archive
Exec=mosaic install %f
Icon=mosaic
