[Desktop Entry]
Name=Mosaic Market
Comment=Android Market Protocol Handler
Comment[ru]=Обработчик ссылок Android Market
Exec=mosaic app intent android.intent.action.VIEW %u
Icon=mosaic
Type=Application
Encoding=UTF-8
Terminal=false
NoDisplay=true
Categories=Utility;
MimeType=x-scheme-handler/market;
X-KDE-Protocols=market;
